@import url('https://fonts.googleapis.com/css?family=Special+Elite');

blockquote {
  font-family: 'Special Elite', cursive;
	font-size: 1.5rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

blockquote:before,
blockquote:after {
	position: absolute;
	font-size: 6rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -3rem;
	bottom: 1rem;
}

cite {
	line-height: 3;
	text-align: left;
  font-size: 1.2rem;
}