body {
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--oc-gray-9);
  color: var(--oc-green-4);
}

p {
  margin: 0;
  line-height: 1.5;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  font-style: italic;

  &:hover,
  &:active {
    color: var(--oc-green-5);
  }
}

h2 {
  font-size: 1.5rem;

  @media screen and (max-width: 650px) {
    font-size: 1.3rem;
  }
}

.main-container {
  max-width: 1140px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
}

// A container for the main content of the page
.main-content {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 60rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 2rem 1rem;
  min-height: 3rem;
  display: flex;
  flex-wrap: nowrap;
  // justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: var(--oc-gray-9);

  .header-content {
    display: flex;
    align-items: center;
    margin: 0 auto;

    @media screen and (max-width: 650px) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  .title {
    display: flex;
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;

    a {
      text-decoration: none;
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin-left: 1rem;
    }
  }
}

.footer {
  font-size: 0.8rem;
  text-align: center;

  // Sticky footer
  position: sticky;
  position: -webkit-sticky; /* Safari */
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: var(--oc-gray-8);
  color: var(--oc-green-4);

  .newsletter-container {
    max-width: 400px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    background: #444;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
  }
  .newsletter-container * {
      align-self: center;
      padding: 0;
  }
  .newsletter-form {
      text-align: center;
  }
  .newsletter-title {
      font-size: 1.5em;
      margin: 0;
      color: #fff;
      font-family: monospace;
      text-transform: uppercase;
  }
  .newsletter-text {
      font-family: monospace;
      font-weight: 600;
      color: #ddd;
      text-align: center;
  }
  .newsletter-email,
  .newsletter-submit {
      display: inline-block;
      border-radius: 4px;
      padding: 0;
      align-self: center;
  }
  .newsletter-email {
      font-family: monospace;
      text-align: center;
      font-size: .9em;
  }
  .newsletter-submit {
      font-size: .6em;
      margin-left: 1em;
      padding: 0.5em;
      border: none;
      background: #f5f5f5;
      text-transform: uppercase;
      font-weight: 600;
  }

  @media screen and (min-width: 400px) {
      .newsletter-title {
          font-size: 2.5em;
      }
      .newsletter-text {
          font-size: 1.5em;
      }
      .newsletter-submit {
          font-size: .7em;
      }
  }
}

// A container for the photo-grid
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 3rem;

  @media screen and (max-width: 650px) {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
}

// photo-grid item
.photo-grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  margin-top: 10px;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .photo-grid-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--oc-green-4);
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    .photo-grid-item-overlay-title {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
    }

    .photo-grid-item-overlay-description {
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
    }
  }

  .single-photo-grid-item {
    grid-column: 1 / -1;
  }
}

.photo-of-the-month {
  span {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

//  Add a two column layout where the author image is on the top left and on the right colum a title and description should exist

.about {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  margin-bottom: 3rem;

  .about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-content {
    margin-left: 2rem;
    margin-top: -1.5rem;
  }
}

// POST styles

.meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  .meta-date {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  .meta-tags {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}