---
layout: default
home: true
---

<div class="photo-of-the-month">
  <h2>Photo of the month <span>({{ site.data.photo_of_the_month[0].month }} {{ site.data.photo_of_the_month[0].year }})</span></h2>
  <div class="photo-grid">
    {% for photo in site.data.photo_of_the_month %}
      <div class="photo-grid-item">
        <div class="single-photo-grid-item">
          <a href="{{ site.photo_website }}" target="_blank">
            <img src="{{ photo.url }}" alt="{{ photo.alt }}">
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="photo-portfolio">
  <h2>Did you see my photo website yet?</h2>
  <div class="photo-grid">
    {% for photo in site.data.photo_portfolio %}
      <div class="photo-grid-item">
        <a href="{{ site.photo_website }}" target="_blank">
          <img src="{{ photo.url }}" alt="{{ photo.alt }}" style="width:100%">
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}